includes:
    - vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
  level: max
  paths:
    - src
    - tests
  bootstrapFiles:
    - tools/phpunit.phar
  excludePaths:
      analyseAndScan:
        - tests/*/Fixtures/*

  tmpDir: .var/cache/phpstan
  editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'

